
@media only screen and (min-width: 200px) {
  .cards {grid-template-columns: 1fr;}
}

@media only screen and (min-width: 300px) {
  .cards {grid-template-columns: 1fr;}
}

@media only screen and (min-width: 400px) {
  .cards {grid-template-columns: 1fr 1fr;}
}

@media only screen and (min-width: 600px) {
  .cards {grid-template-columns: 1fr 1fr 1fr;}
}

@media only screen and (min-width: 700px) {
  .cards {grid-template-columns: 1fr 1fr 1fr 1fr;}
}