
/*  ------------- FULL PAGE STUF --------------------*/

body {
  margin: 2px;
  width: 380px;
    
}

header{
  background-color: #eee;
  display: flex;
  margin: 20px;
  border-radius: 20px;
  padding: 6px;
  max-width: 320px;
}



/*  ------------- NAV --------------------*/

nav button{
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: #555;
  position: absolute;
  right: 30px;
  top: 25px;
}

nav ul{
  list-style-type: none;
  padding: 5px;
  text-align: center;
  width: 250px;
  margin-left: -40px;
}

nav ul li a{
  display: block;
  padding: .3rem 2vw;
  text-decoration: none;
  color: #333;
  border-top: 1px solid rgba(90, 89, 89, 0.5);
}

nav ul li.active a{
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

nav ul li a:hover{
  background-color: rgba(0, 0, 0, 0.3);
}


nav ul {display: none;}
nav ul.open{display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}


/*  ------------- TEXT --------------------*/

.subtitle{
  margin: -.1rem;
  margin-top: -20px;
}

.footerP{
  margin-top: 62px;
  margin-left: -165px;
}

p{
  text-align: center;
}

h1{
  text-align: center;
}

b{
  color: rgb(29, 34, 94);
}

.bEvents{
  color: rgb(134, 5, 5);
}
/*  ------------- IMAGES --------------------*/

.logo{
  padding: 2%;
  max-height: 60px;
}

.socialmedia{
  position: absolute;
  top: 65px;
  right: 30px;
}

.img1{
  max-width: 300px ;
}

.r1{
  width: 300px;
}

/*  ------------- FIGCAPTIONS --------------------*/

figcaption{
  text-align: center;
  color: rgb(41, 40, 40);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

/*  ------------- FOOTER --------------------*/


footer{
  background-color: #eee;
  margin-left: 20px;
  max-width: 320px;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.footer_line{
  width: 290px;
}

.footer_sec{
  display: flex;
}

.updated_date{
  margin-left: 30px;
  margin-top: 20px;
}


/*  ------------- DATE --------------------*/

#date{
  text-align: center;
  background-color: rgb(166, 184, 206);
  color: #eee;
  max-width: 250px;
  margin-left: 70px;
  margin-top: 10px;
}

/*  ------------- LINKS --------------------*/

a{
  text-decoration: none;
  font-size: 10px;
  color: #333;
}

a:hover{
  color: lightslategray;
}

.linkR1{
  color: white;
  font-size: 20px;
}

.linkevent{
  color: white;
  font-size: 12px;
}

/*  ------------- SECTIONS --------------------*/

.center1{
  padding: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: rgba(130, 138, 168, 0.2);
}

.center2{
  background-color: rgba(130, 138, 168, 0.2);
  padding: 2px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 15px;
}

.right2{
  background-color: rgba(130, 138, 168, 0.2);
  margin-top: 30px;
  padding: 2px;
  margin-left: 15px;
}

.right3{
  margin-top: 30px;
  margin-bottom: 60px;
}

.left1{
  background-color: rgba(130, 138, 168, 0.2);
  padding: 2px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 15px;
}

.event1{
  margin-bottom: 60px;
}
/*  ------------- VIDEOS --------------------*/

video{
  max-width: 330px;
  margin-left: -20px;
}

/*  ------------- BUTTONS --------------------*/

.locationR1{
  color: white;
  margin-left: 120px;
  background-color: rgb(124, 168, 197);
  width: 100px;
  height: 30px;
  border-color: transparent;
}

.event{
  color: white;
  margin-left: 100px;
  background-color: rgb(134, 5, 5);
  width: 100px;
  height: 30px;
  border-color: transparent;
}