
@media only screen and (min-width: 790px) {

  body{
    max-width: 1210px;
  }

  main{
    width: 900px;
  }

  main{
    grid-template-rows: none;
    grid-auto-rows: 200px;
    margin: 0px;
    margin-left: 6px;
  }

  main figure.central_image{
    width: 67%;
    margin-left: 54px;
  }
    
  header{
    height: 140px;
    width: 1210px;
    margin-left:26px;
  }

  nav ul li a{
    padding: .5rem 2rem;
    position: relative;
    margin-top: -10px;
  }

  nav button{
    display: none;
  }

  nav ul#ul_navigation{
    display: flex;
    margin-left: 210px;
    margin-top: -40px;
  }
  
  nav ul li a{
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }

  .socialmedia{
    margin-left: 920px;
    top: 49px;
  }

  /*  ------------- TEXT --------------------*/

  .title{
    margin-left: -1px;
    font-size: 29px;
  }

  .truck_title{
    margin-left: 4px;
    font-size: 24px;
    margin-bottom: -20px;
    text-shadow: 2px 2px 20px #ffffff;
  }
  
  .truck_text{
    color: rgb(114, 134, 165);
    margin-bottom: -10px;
    font-size: 15px;
  }
  
  .h4_truck{
    text-align: center;
    color: rgba(255, 255, 255, 0.685);
    font-size: 18px;
    margin-bottom: 5px;
  }

  .welcome{
    font-size: 20px;
    width: 230px;
    padding: 1%;
    position: absolute;
    top: 200px;
    left: 320px;
    border: none;
  }

  .eventH2{
    margin-left: 18px;
    margin-bottom: -10px;
  }

  .details_event{
    font-size: 16px;
    width: 240px;
    margin-left:16px;
    margin-bottom: -10px;
  }

  .event_title{
    font-size: 15px;
    width: 210px;
    margin-left: 30px;
    margin-bottom: -10px;
  }

  /*  ------------- DATE --------------------*/

  #date{
    margin-left: 210px;
    position: relative;
    top: 10px;
  }

  /*  ------------- SECTIONS --------------------*/

  .center2{
    margin-top: 395px;
    margin-left: 317px;
    width: 66%;
  }

  .right_section{
    display: grid;
    background-color: rgb(2, 13, 58);
    position: relative;
    left: 930px;
    top: -450px;
    padding: 0rem 0rem;
    width: 280px;
    height: 870px;
  }

  .R1{
    position: relative;
    left: 0px;
  }

  .R2{
    position: relative;
    right: 0px;
    top: -60px;
  }

  .right1{
    height: 264px;
    width: 230px;
    margin:20px;
    padding: 2px;
  }
 
  .right3{
    display: block;
    margin-top: -104px;
  } 

  .left_section{
    background-color: transparent;
    display: grid;
    position: relative;
    top: -880px;
    left: -60px;
  }

  .left1{
    width: 260px;
    position: absolute;
    top: 190px;
    left: 60px;
    height: 380px;
    background-color: rgba(130, 138, 168, 0.2);
    border-radius: 20px;
  }

  .weather_section{
    background-color: rgb(2, 13, 58);
    margin-bottom: 0px;
    width: 260px;
    position: absolute;
    left: 40px;
    top: 590px;
    height: 270px;
  }

  .weather_subsection{
    margin:18px;
    padding: 2px;
    background-color: rgb(22, 37, 77);
    position: relative;
    top: 20px;
    margin-top: -2px;
    height: 220px;
  }

  .left3{
    display: block;
    position: absolute;
    padding: 2px;
    width: 260px;
    margin-left: 37px;
    top: 820px;
    height: 190px;
    margin-top: 40px;
  }


  /*  ------------- IMAGES --------------------*/

  .logo{
    max-height: 100px;
    margin-top: 20px;
  }

  .centered_imag{
    margin-left: 260px;
    height: 630px;
  }

  .centered_imag:hover{
    box-shadow: 0px 0px 50px rgba(8, 27, 88, 0.63);
  }

  .eventimg{
    width: 67%;
    position: relative;
    top: 20px;
    left: 19px;
    margin-bottom: 10px;
  }

  /*  ------------- BANNER --------------------*/

  #banner{
    position: relative;
    left: 90px;
  }
  
  /*  ------------- ICONS --------------------*/

  .truck{
    width: 95px;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .code{
    margin-left: 77px;
    width: 80px;
    margin-bottom: -22px;
    height: 80px;
  }

  .treefort{
    width: 70px;
    margin-top: 40px;
    margin-left: 80px;
    margin-bottom: -10px;
    height: 66px;
  }

  .truck_line{
    width: 80%;
  }

  /*  ------------- BUTTONS --------------------*/


  .join_link{
    color: rgb(177, 248, 201);
    font-size: 22px;
    background-color: rgb(9, 81, 85);
    padding: 1%;
    width: 170px;
    position: absolute;
    left: 700px;
    top: 750px;
  }

  .link_center2{
    margin-left: -26px;
  }

  .linkevent{
    font-size: 13px;
    position: absolute;
    top: 320px;
    left: 6px;
    width: 90px;
    height: 20px;
  }

  .join_link_left3{
    left: 10px;
    top: 30px;
    width: 230px;
    font-size: 20px;
  }

  footer{
    position: relative;
    margin-bottom: 40px;
    margin-top: 60px;
    margin-left:26px;
    width: 1210px;
  }
  
  /*  ------------- WEATHER --------------------*/

  .weather_title{
    color: rgba(142, 190, 230, 0.884);
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px 20px #ffffff;
    position: absolute;
    top: -3px;
  }

  
  .icon_weather{
    height: 110px;
    margin-left: -40px;
    margin-top: 10px;
  }
  
  .description_icon{
    color: #eee;
    position: relative;
    left: 70px;
    top: 10px;
    text-transform: capitalize;
    font-size: 19px;
    margin-top: -30px;
    margin-bottom: 50px;
  }
  
  #temperature{
    font-size: 25px;
    color: aliceblue;
    position: absolute;
    top: 70px;
    margin-left: 120px;
  }
  
  .line_weather{
    width: 180px;
    position: relative;
    top: -35px;
  }
  
  .p_weather{
    color: rgb(233, 237, 237);
    font-size: 14px;
  }
  
  .chill_and_speed{
    margin-top: -37px;
  }

  .weather_title:hover{
    color: rgb(255, 255, 251);
    background-color: transparent;
  }


  /*  ------------- FOOTER --------------------*/

  .upper_part{
    margin-left:340px;
  }

  .email_number_footer{
    position: relative;
    left: -30px;
    margin-top: -1px;
  }
  
  .location_link{
    position: relative;
    left: -180px;
    top: 70px;
  }

  .footer_line{
    width: 1080px;
  }

  .pfooter{
    margin-left: 20px;
  }

  
  /*  --------------------------------------------- DISCOVER!! --------------------------------------*/

  .main_discover{
    width: 900px;
    margin: 25px;
  }

  .title_discover{
    font-size: 25px;
    width: 1100px;
    margin-left: 22px;
    position: relative;
    top: -70px;
  }

  .main_discover figure.discover_images{
    width: 80%;
    margin-left: 50px;
  }

  .main_discover figure.discover_images img {
    width: 90%;
  }


  .main_discover figure.discover_images figcaption{
    text-align: center;
    font-size: 20px;
    width: 60%;
    background-color: rgb(2, 44, 46);
    color: #eee;
    margin-bottom: 40px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 2%;
    position: relative;
  }


  .images{
    width: 1170px;
    height: 700px;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:transparent;
  }

  .discover2{
    height: 280px;
    object-fit: cover;
    position: relative;
  }

  .discover3{
    height: 200px;
    position: relative;
    top: 30px;
  }

  .discover3_figcaption{
    position: relative;
    top: 40px;
  }

  .discover1{
    margin-top: 30px;
  }

  .elotes{
    margin-top: -3px;
  }
  
 
  .discover1:hover, .discover2:hover, .discover3:hover{
    transform: scale(1.4);
    box-shadow: 0px 0px 20px #1a8c8c;
  }

  .footer_discover{
    position: relative;
    margin-top: 1000px;
  }

  #lastVisit{
    position: absolute;
    top: 1350px;
    margin-left: 520px;
    height: auto;
    left: -385px;
    width: 930px;
    padding: 2%;
  }

  /*  --------------------------------------------- JOIN PAGE!! --------------------------------------*/

  .title_join{
    font-size: 60px;
    width: 1000px;
    margin-left: 120px;
    margin-bottom: 40px;
  }
  
  form fieldset {
    width: 700px;
    margin-left: 240px;
    border: solid;
    border-color: #05345b71;
    margin-bottom: 200px;
    margin-top: -100px;
  }
  
  form legend{
    font-size: 24px;
    padding: 1%;
    width: 300px;
  }
  
  form label.top, form div {
    font-size: 23px;
  }

  
  form label.top_not_required input, form label.top select{
    width: 307px;
  }
  
  form label.top_not_required, form div {
    color: #382985;
    font-size: 23px;
    width: 270px;
  }
  
  form textarea{
    width: 323spx;
    background-color: #eee;
    border-radius: 4px;
  }


  form p.membership{
    font-size: 22px;
    margin-left: 130px;
    width: 180px;
  }
  
  form p.p_div{
    color: #000000;
    font-size: 20px;
    margin-left: 68px;
    width: 320px;
  }
  
  form p.packagenp, form p.packageb, form p.packages, form p.packageg{
    font-size: 20px;
    width: 350px;
    margin-left: 40px;
  }
  
  form b.bnp, form b.bb, form b.bs, form b.bg{
    font-size: 22px;
  }
    
  form input.submitBtn{
    max-width: 1100px;
    margin-left: 70px;
    top: 3240px;
    font-size: 23px;
  }

  form img.personalIcon{
    width: 15%;
    position: absolute;
    left: 720px;
    top: 460px;
  }

  form img.busIcon{
    width: 15%;
    position: absolute;
    left: 720px;
    top: 2820px;
  }
  
  form img.imagemem{
    width: 26%;
    margin-left: 187px;
  }

  form img.imagesilver, form img.imagegold{
    width: 27%;
    margin-left: 189px;
  }


  .footer_Join{
    margin-top: 2675px;
  }
  
  /*  --------------------------------------------- THANKS PAGE!! --------------------------------------*/
  
  .thanks{
    width: 30%;
    margin-left: 460px;
    margin-top: -50px;
    transition: transform .7s;
  }
  
  .thanks:hover{
    transform: scale(1.2);
  }
  
  .divThanks{
    width: 1200px;
    margin-top: -80px;
    font-size: 23px;
    margin-left: 10px;
  }

  .footerThanks{
    margin-top: 200px;
  }
}


