

/* -----------  GRID STUFF ------------- */

@media only screen and (min-width: 390px) {

  body{
    width: 750px;
  }

  main figure.central_image{
    margin-left: 40px;
    margin-top: -40px;
    width: 90%;
  }
  

  /* ----------- GENERAL STUFF ------------- */

  header{
    margin-bottom: 80px;
  }

  .logo{
    max-height: 60px;
    margin-top: 10px;
  }

  .socialmedia{
    position: absolute;
    margin-left: 410px;
    top: 40px;
  }
  
  nav button{
    position: relative;
    top: -105px;
    left: 600px;
  }

  footer{
    text-align: center;
  }

  nav ul{
    list-style-type: none;
    text-align: center;
    width: 660px;
    position: relative;
    left: 245px;
    top: -10px;
    margin-bottom: 10px;
  }

  nav ul li a{
    font-size: 17px;
    padding: 10px;
  }

  nav ul.open{margin-left: -320px;}

  .center2{
    background-color: rgba(130, 138, 168, 0.2);
    height: 200px;
    margin-bottom: 200px;
    max-width: 7400px;
    margin-left: 20px;
  }

  /* -----------  DATE ------------- */

  .subtitle{
    margin-bottom: 140px;
  }

  #date{
    position: relative;
    width: 260px;
    margin-left: 220px;
    margin-top: -190px;
    font-size: 18px;
    margin-bottom: 30px;
  }

  
  /* -----------  TEXT ------------- */

  .title{
    margin-left: -2px;
    font-size: 30px;
  }


  .join_link{
    color: rgb(177, 248, 201);
    font-size: 21px;
    position: absolute;
    left: 470px;
    top: 600px;
    padding: 2%;
    width: 190px;
    background-color: rgb(9, 81, 85);
    text-align: center;
  }

  
  .join_link_left3{
    color: rgb(177, 248, 201);
    font-size: 25px;
    position: absolute;
    left: 14px;
    top: 20px;
    padding: 2%;
    width: 600px;
    background-color: rgb(9, 81, 85);
    text-align: center;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 0px 0 20px rgba(25, 25, 25, 0.781);
  }


  .link_center2{
    position: relative;
    left: 290px;
  }

  .hero_title{
    position: relative;
    top: -220px;
    left: 30px;
    text-align: center;
    width: 390px;
    background-color: rgba(58, 57, 57, 0.445);
    font-size: 32px;
  }

  .welcome{
    font-size: 20px;
    width: 230px;
    position: relative;
    top: -450px;
    left: 40px;
  }
  
  .h3_center2{
    margin-left: 20px;
  }

  .left3_text{
    color: rgb(8, 73, 130);
    margin-top: 70px;
  }

  .eventH2{
    margin-left: -26px;
  }

  .bEvents{
    margin-left: -10px;
  }


  /*  ------------- BANNER --------------------*/

  #banner{
    position: relative;
    left: 60px;
  }
  
  /*  ------------- SECTIONS --------------------*/

  .center1{
    grid-row: 1;
  }

  .center2{
    grid-row: 2;
    height: 220px;
    width: 90%;
    margin-left: 38px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: 15px;
    border-radius: 0%;
  }

  .right_section{
    grid-row: 3;
    display: flex;
    padding: .5rem 12rem;
  }

  .right1{
    height: 390px;
    width: 300px;
  }

  .R1{
    position: relative;
    left: -190px;
  }

  .R2{
    position: relative;
    right: 210px;
  }
  
  .left3{
    display: block;
    grid-row: 4;
    position: relative;
    padding: 2px;
    background-color: rgba(130, 138, 168, 0.2);
    box-shadow: 2px 1px 5px #000000;
    width: 650px;
    margin-left: 50px;
    margin-top: 20px;
    height: 130px;
    margin-top: 40px;
  }
  
  .right3{
    display: none;
  }

  .weather_section{
    grid-row: 5;
    background-color: transparent;
  }

  .weather_subsection{
    width: 220px;
    position: relative;
    top: 40px;
    box-shadow: none;
    background-color: rgb(22, 37, 77);
    box-shadow: 2px 1px 5px #000000;   
  }

  .left1{
    grid-row: 6;
    width: 310px;
    margin-left: -20px;
    background-color: transparent;
    margin-bottom: 40px;
    border-radius: 20px;
  }

  .left_section{
    display: flex;
    height: 480px;
    margin-top: 40px;
    background-color: rgba(130, 138, 168, 0.2);
    width: 640px;
    margin-left: 60px;
    margin-bottom: 20px;
  }

  .upper_part{
    display: flex;
  }

  .email_number_footer{
    margin-left: 150px;
    margin-top: 10px;
  }
  
  /*  ------------- ICONS --------------------*/

  .truck{
    width: 170px;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 16px;
    position: relative;
    top: 10px;
  }

  .code{
    margin-left: 86px;
    width: 140px;
  }


  /*  ------------- IMAGES --------------------*/
  .eventimg{
    width: 70%;
    margin-left: 30px;
  }

  /*  ------------- WEATHER --------------------*/

  .weather_title{
    color: rgba(3, 25, 43, 0.884);
    text-align: center;
    font-size: 23px;
    position: relative;
    top: -70px;
    text-transform: uppercase;
    margin-left: -20px;
    width: 270px;
  }
  
  .weather_title:hover{
    color: beige;
    background-color: rgb(14, 14, 82);
  }

  .icon_weather{
    height: 120px;
    margin-left: -40px;
    margin-top: -50px;
  }

  .description_icon{
    color: rgb(198, 229, 245);
    position: relative;
    left: 70px;
    top: 10px;
    text-transform: capitalize;
    font-size: 20px;
    margin-top: -20px;
  }

  #temperature{
    font-size: 30px;
    color: rgb(251, 253, 255);
    position: relative;
    top: -130px;
    margin-left: 130px;
  }

  .line_weather{
    width: 200px;
  }

  .p_weather{
    color: rgb(233, 237, 237);
    font-size: 17px;
  }

  /*  ------------- FOOTER --------------------*/

  .location_link{
    top: 40px;
  }

  .email_number_footer{
    position: relative;
    top: 10px;
    margin-left: 140px;
  }

  .footer_line{
    width: 680px;
    margin-top: 20px;
  }


  /*  --------------------------------------------- DISCOVER!! --------------------------------------*/

  .main_discover{
    width: 700px;
    margin: 25px;
  }

  .title_discover{
    font-size: 25px;
    width: 650px;
    margin-left: 12px;
    position: relative;
    top: -70px;
  }

  .main_discover figure.discover_images{
    width: 90%;
    margin-left: 14px;
  }

  .main_discover figure.discover_images img {
    width: 100%;
  }


  .main_discover figure.discover_images figcaption{
    text-align: center;
    font-size: 20px;
    width: auto;
    color: rgb(2, 44, 46);
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .image_space picture img{
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .images{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 670px;
    margin-top: 30px;
  }

  .discover2{
    height: 280px;
    object-fit: cover;

  }

  .discover3{
    height: 214px;
  }

}

