

/* -----------  GRID STUFF ------------- */

@media only screen and (min-width: 35rem) {

  header, footer{
    margin-right: 20px;
  }

  .socialmedia{
    position: absolute;
    margin-left: 520px;
  }
  
  nav button{
    margin-right: 50px;
  }

  footer{
    text-align: center;
  }
  
}

