
@media only screen and (min-width: 790px) {

  body {
    width: 1210px;
    height: auto;
  }
  
  /*  ------------- HEADER --------------------*/
  
  header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 240px;
    margin: 0px 0px 0px 0px;
    position: relative;
  }
  
  
  /*  ------------- NAVIGATION --------------------*/
  
  header button{
    display: none;
  }

  nav ul {display: block;}
 
  
  nav ul{
    display: flex;
    position: relative;
    top: -170px;
    margin-left: 300px;
    width: 800px;
    font-size: 20px;
  }

  nav ul li a{
    padding: 2rem 4rem;
    position: relative;
    margin-top: -10px;
    font-size: 17px;
  }
    
  
  /*  ------------- LOGO --------------------*/
  
  .logo{
    width: 26%;
    height: 230px;
  }
  
  /*  ------------- RESERVATION BUTTON --------------------*/
  
  .reserveButton{
    padding: 1%;
    width: 300px;
    position: relative;
    top: -30px;
    left: 360px;
  }

  a.reserveButton{
    font-size: 17px;
    border-radius: 10px;
  }

  
  /*  ------------- SECTION CONTACT SOCIAL MEDIA  --------------------*/
  
  .section_contact{
    background-color: rgba(245, 245, 220, 0.454);
    position: fixed;
    top: 220px;
    display: grid;
    width: 50px;
    padding: 2%;
    z-index: 1;
  }
  

  
  /*  ---------------- WELCOME SMALL SECTION   --------------------*/
  
  .h1Welcome{
    font-size: 36px;
  }
  
  
  /*  ------------- TEMPLE SECTION  --------------------*/
  
  .templesInformation{
    height: 600px;
    width: 370px;
  }

  .templesInformation2{
    display: block;
    margin-top: -20px;
  }
  
  /*  ------------- TEMPLE INFORMATION  --------------------*/
  
  .h2temple{
    color: white;
    position: absolute;
    margin-left: 36px;
    margin-top: 50px;
    font-size: 27px;
  }
  
  .ptemple{
    color: wheat;
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-top: 120px;
  }
  
  /*  -------------  TEMPLE IMAGE --------------------*/
  
  .temple1{
    width: 77%;
    position: relative;
    top: 130px;
    margin-left: 40px;
  }
  
  .temple2{
    height: 270px;
    position: relative;
    top: -520px;
    left: 490px;
  }

  .temple2{
    transition: transform .5s;
  }
  
  .temple2:hover{
    box-shadow: 0px 0px 10px #3b2f06;
    transform: scale(1.07);
  }

  /*  ------------- TEMPLES BUTTON --------------------*/
  
  
  .templesButton{
    margin-left: 56px;
    top: 30px;
  }
  
  .templesButton:hover{
    background-color: bisque;
    color: rgb(84, 65, 26);
  }

  
.templesButton2{
  position: relative;
  top: 10px;
  padding: 1.5%;
  text-decoration: none;
  background-color: rgba(231, 231, 231, 0.872);;
  margin-left: 450px;
  color: rgb(18, 18, 18);
  font-size: 20px;
  border-radius: 20px;
}

.templesButton2:hover{
  background-color: bisque;
  color: rgb(84, 65, 26);
}
  
  /*  ------------- WEATHER --------------------*/
  
  .weather_section{
    position: absolute;
    top: 1110px;
    height: 450px;
    padding: 4%;
    border: 2px rgba(56, 52, 52, 0.541) dashed;
    width: 270px;
    margin-left: 820px;
  }
  
  .weather_title{
    color: rgb(101, 84, 51);
    text-align: center;
    font-size: 34px;
  }
  
  .description_icon{
    background-color: rgba(129, 131, 17, 0.555) ;
    width: 170px;
    text-align: center;
    color: rgb(73, 74, 23);
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 20px;
  }
  
  .line_weather{
    width: 230px;
  }
  
  .icon_weather{
    width: 60%;
  }
  
  #temperature{
    font-size: 37px;
    position: relative;
    top: -200px;
    margin-left: 160px;
  }
  
  .humidity{
    font-size: 20px;
    position: relative;
    top: -40px;
    margin-left: 50px;
  }

  /*  ------------- FOOTER --------------------*/

  .p_footer{
    width: 800px;
    margin-left: 290px;
    position: absolute;
    margin-top: 30px;
    font-size: 19px;
  }

  .iframeFooter{
    width: 26%;
    position: relative;
    top: -40px;
    left: 200px;
  }

  .resourcesLink{
    position: relative;
    top: -4px;
    left: 340px;
    text-decoration: none;
    color: #979748;
    font-size: 17px;
  }

  .section_contact{
    background-color: rgba(245, 245, 220, 0.454);
    position: relative;
    top: 0px;
    display: flex;
    width: 20%;
    padding: 2%;
    z-index: 1;
  }


  .social_media{
    width: 50%;
    margin-left: 0px;
  }

  /*  ------------------------------------------- TEMPLES PAGE ---------------------------------------------*/

  .h1Temples{
    font-size: 40px;
    text-align: center;
    text-indent: 20px;
  }

  .divJSON{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 40px;
    background-color: #c7c18be2;
    height: 500px;
  }

  .templeImage{
    width: 90%;
    margin-left: 20px;
    grid-column: 2/2;
    top: 160px;
  }

  .templeImage:hover{
    transform: scale(1.3);
  }


  .name{
    font-size: 30px;
    position: relative;
    text-align: center;
    left: 400px;
    width: auto;
  }

  .phone{
    font-size:20px;
    grid-column: 1/2;
    position: relative;
    top: -170px;
    left: 0px;
  }

  .situation{
    font-size: 19px;
    grid-column: 1/3;
    top: -210px;
    left: 80px;
  }

  .address{
    grid-column: 3/3;
    top: -340px;
    margin-left: 90px;
  }

  .address:hover{
    background-color: aliceblue;
    color: #66551c;
    box-shadow: 0px 0px 10px rgb(107, 80, 21);
  }

  .services{
    font-size: 19px;
    grid-column: 1/2;
    color: #53430b;
    position: relative;
    margin-left: -40px;
    text-align: center;
    top: -236px;
  }

  .appointment{
    grid-column: 3/3;
    top: -350px;
    margin-left: 90px;
  }

  .appointment:hover{
    background-color: aliceblue;
    color: #66551c;
    box-shadow: 0px 0px 10px rgb(107, 80, 21);
  }

  .footerTemples{
    margin-top: 70px;
  }

  /*  ------------------------------------------- RESERVATION PAGE ---------------------------------------------*/

  .divForms{
    position: relative;
    margin-left: 420px;
    margin-top: 100px;
  }

  form label.text{
    font-size: 22px;
  }
  
  form div.divRooms{
    font-size: 22px;
  }
  

  form input.reserveBtn{
    font-size: 23px;
    margin-left: 96px;
  }

  .footerReservation{
    margin-top: 100px;
  }

  /*  --------------------------------------------- THANKS PAGE!! --------------------------------------*/

   .h1Thanks{
    font-size: 50px;
    margin-left: 550px;
    margin-top: 100px;
  }


  .divThanks{
    background-color: rgba(247, 247, 247, 0.676);
    border-radius: 20px;
    margin-left: 370px;
    margin-top: 100px;
    width: 500px;
  }

  .thanksParagraph{
    color: rgb(5, 5, 5);
    width: 480px;
    font-size: 23px;
    text-align: center;
    padding: 4%;
  }

  .confirmationIcon{
    width: 20%;
    margin-left: 500px;
  }

  .footerThanks{
    margin-top: 200px;
  }

  
  /*  --------------------------------------------- SERVICES PAGE! --------------------------------------*/

  .servicesList{
    margin-bottom: -300px;
    background-color: #47440fac;
    height: 270px;
    margin-top: 40px;
    width: 560px;
  }

  .listBullet1{
    font-size: 22px;
    width: 300px;
    margin-left: 10px;
  }

  .bathroom{
    width: 27%;
    float: none;
    position: relative;
    top: 6px;
    margin-left: 350px;
    margin-right: 150px;
    box-shadow: 0px 0px 20px white;
  }

  .servicesList2{
    position: relative;
    margin-top: 0px;
    background-color: transparent;
    height: 270px;
  }

  .playroom{
    width: 14%;
    float: none;
    position: relative;
    top: 0px;
    left: 830px;
    box-shadow: 0px 0px 20px rgb(84, 60, 10);
  }

  .listBullet2{
    width: 300px;
    position: relative;
    color: rgb(5, 5, 5);
    top: 100px;
    left: 625px;
    font-size: 22px;
    text-align: center;
  }

  .listBullet3{
    width: 300px;
    position: relative;
    color: rgb(6, 6, 6);
    top: 90px;
    font-size: 22px;
    left: 20px;
    text-align: center;
  }

  
  .servicesList3{
    width: 560px;
    background-color: white;
  }

  .servicesList4{
    background-color: #47440fac;
    position: absolute;
    margin-bottom: -300px;
    height: 270px;
    margin-top: -200px;
    width: 560px;
    margin-left: 600px;
  }

  .listBullet4{
    width: 300px;
    position: relative;
    color: rgb(255, 255, 255);
    top: 80px;
    left: 20px;
    font-size: 22px;
    text-align: center;
  }

  .oficines{
    width: 27%;
    height: 220px;
    float: none;
    position: relative;
    top: -10px;
    left: 220px;
    box-shadow: 0px 0px 20px white;
  }

  .reception{
    width: 30%;
    float: none;
    margin-left: 340px;
    margin-top: -40px;
    box-shadow: 0px 0px 20px rgb(84, 60, 10);
  }

  .packagesWM{
    margin-top: 200px;
  }

  .specialPackage{
    background-color: #847751;
    color: white;
    width: 310px;
    margin-left:100px;
    padding: 2%;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .specialPackage2{
    background-color: #847751;
    color: white;
    position: absolute;
    width: 340px;
    margin-left: 700px;
    padding: 2.1%;
    font-size: 18px;
    margin-top: -536px;
  }

  .wedding{
    width: 24%;
    margin-left: 130px;
  }

  .missionaries{
    width: 30%;
    margin-left: 720px;
    position: relative;
    top: -440px;
    height: 410px;
  }
  
  .weddingButton{
    margin-left: 200px;
    padding: 2%;
  }

  .btnMissionaries{
    margin-top: -679px;
    margin-left: 840px;
    padding: 2%;
  }

  .btnMissionaries:hover{
    background-color: #483314e5;
  }

  .h2Amenities{
    background-color: #4f482d;
    width: 700px;
    text-align: center;
    color: white;
    margin-top: -350px;
    padding: 2%;
    margin-left: 250px;
  }

  .listAmenities{
    color: #472f0f;
    font-size: 20px;
  }

  .footerServices{
    margin-top: 50px;
  }

  /*  --------------------------------------------- WEDDING PAGE --------------------------------------*/

  .wedh1{
    font-size: 28px;
    margin-left: 300px;
    width: 600px;
  }

  .suitesTitles{
    margin-top: 100px;
    font-size: 26px;
    color: #47440f;
    border: solid;
    width: 180px;
    padding: 2%;
    border-color: #4f482d92;
    text-align: center;
  }

  .suitesTitles{
    margin-left: 20px;
  }

  .pSuites{
    font-size: 25px;
  }
  .liSuite{
    font-size: 25px;
  }

  .suiteIMG{
    width: 90%;
    margin-left:70px;
  }

  .reserveWedding{
    text-decoration: none;
    font-size: 40px;
    padding: 2%;
    margin-left: 500px;
    color: #4f482d;
    background-color: rgb(180, 166, 120);
  }
  
  .divPics{
    display: block;
  }

  .wedding1{
    width: 50%;
    position: relative;
    top: 0px;
  }

  .wedding2{
    left: 610px;
  }

  .wedding3{
    width: 48%;
    position: absolute;
    left: 10px;
    margin-top: 3px;
  }
  
  .wedding4{
    width: 49%;
    position: relative;
    margin-left: 0px;
    top: -412px;
  }

  /*  --------------------------------------------- MISSIONARY PAGE --------------------------------------*/

  .suitesMissionaries{
    width: 90%;
    margin-left: 70px;
  }

  .legendContact{
    padding: 1%;
    margin-left: 460px;
  }

  form fieldset.fieldsetContact{
    width: 25%;
    margin-left: 400px;
  }

  form .sendBtn{
    padding: 1%;
    margin-left: 485px;
    margin-bottom: 100px;
    width: 170px;
  }

  .divContacUs{
    margin-left: 30px;
  }


   /*  --------------------------------------------- LIKE BUTTON  --------------------------------------*/

   .likeIcon{
    font-size: 20px;
    width: 30px;
  }

 .buttonTemple2, .buttonTemple3, .buttonTemple4{
    position: relative;
    left: 120px;
    top: -10px;
  }


  .pLikeButton{
    text-align: center;
    font-size: 20px;
    color: rgb(204, 69, 92);
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 25px;
  }

  .likesNumber2, .likesNumber3, .likesNumber4{
    color: rgb(204, 69, 92);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: absolute;
    left: 200px;
    margin-top: 100px;
  }

  /* button1 */

  .divLikeButton1{
    position: absolute;
    top: 370px;
    left: 50px;
  }

  .likesNumber1{
    margin-top: 0px;
  }

  /* button2 */

  .divLikeButton2{
    position: relative;
    top: 1020px;
    left: 50px;

  }

  /* button3 */

  .divLikeButton3{
    position: relative;
    top: 1410px;
    left: 50px;

  }

  /* button4 */

  .divLikeButton4{
    position: relative;
    top: 1790px;
    left: 50px;

  }

}