
@media only screen and (min-width: 390px) {

  body {
    width: 750px;
    height: auto;
  }
  
  /*  ------------- HEADER --------------------*/
  
  header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 190px;
    margin: 0px 0px 0px 0px;
    position: relative;
  }
  
  
  /*  ------------- NAVIGATION --------------------*/
  
  header button{
    display: none;
  }

  nav ul {display: block;}
 
  
  nav ul{
    display: flex;
    position: relative;
    top: -170px;
    margin-left: 170px;
    width: 800px;
  }

  nav ul li a{
    padding: 1rem 2rem;
    position: relative;
    margin-top: -10px;
    font-size: 17px;
  }
    
  
  /*  ------------- LOGO --------------------*/
  
  .logo{
    width: 30%;
    height: 190px;
  }
  
  /*  ------------- RESERVATION BUTTON --------------------*/
  
  .reserveButton{
    padding: 2%;
    position: relative;
    top: -50px;
    left: 187px;
  }

  a.reserveButton{
    font-size: 20px;
    border-radius: 10px;
  }

    
  /*  ---------------- WELCOME SMALL SECTION   --------------------*/
  
  .h1Welcome{
    font-size: 36px;
  }
  
  
  /*  ------------- TEMPLE SECTION  --------------------*/
  
  .templesInformation{
    height: 600px;
    width: 370px;
  }

  .templesInformation2{
    display: block;
  }
  
  /*  ------------- TEMPLE INFORMATION  --------------------*/
  
  .h2temple{
    color: white;
    position: absolute;
    margin-left: 36px;
    margin-top: 50px;
    font-size: 27px;
  }
  
  .ptemple{
    color: wheat;
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-top: 120px;
  }
  
  /*  -------------  TEMPLE IMAGE --------------------*/
  
  .temple1{
    width: 77%;
    position: relative;
    top: 130px;
    margin-left: 40px;
  }
  
  .temple2{
    height: 270px;
    position: relative;
    top: -520px;
    left: 490px;
  }

  .temple2{
    transition: transform .5s;
  }
  
  .temple2:hover{
    box-shadow: 0px 0px 10px #3b2f06;
    transform: scale(1.07);
  }

  /*  ------------- TEMPLES BUTTON --------------------*/
  
  
  .templesButton{
    margin-left: 56px;
  }
  
  .templesButton:hover{
    background-color: bisque;
    color: rgb(84, 65, 26);
  }

  
.templesButton2{
  position: relative;
  top: 20px;
  padding: 2%;
  text-decoration: none;
  background-color: rgba(231, 231, 231, 0.872);;
  margin-left: 450px;
  color: rgb(18, 18, 18);
  font-size: 20px;
  border-radius: 20px;
}

.templesButton2:hover{
  background-color: bisque;
  color: rgb(84, 65, 26);
}
  
  /*  ------------- WEATHER --------------------*/
  
  .weather_section{
    height: 400px;
    border: 2px rgba(56, 52, 52, 0.541) dashed;
    width: 270px;
    margin-left: 50px;
  }
  
  .weather_title{
    color: rgb(101, 84, 51);
    text-align: center;
    font-size: 34px;
  }
  
  .description_icon{
    background-color: rgba(129, 131, 17, 0.555) ;
    width: 170px;
    text-align: center;
    color: rgb(73, 74, 23);
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 20px;
  }
  
  .line_weather{
    width: 230px;
  }
  
  .icon_weather{
    width: 60%;
  }
  
  #temperature{
    font-size: 37px;
    position: relative;
    top: -200px;
    margin-left: 160px;
  }
  
  .humidity{
    font-size: 20px;
    position: relative;
    top: -40px;
    margin-left: 50px;
  }

    
  /*  ------------- FOOTER --------------------*/

  .p_footer{
    width: 350px;
    margin-left: 210px;
    margin-top: -40px;
    font-size: 15px;
  }

  .iframeFooter{
    width: 20%;
    height: auto;
    position: relative;
    top: 0px;
    left: 0px;
  }

  .resourcesLink{
    position: relative;
    top: -70px;
    left: 100px;
    text-decoration: none;
    color: #979748;
    font-size: 17px;
  }

  .social_media{
    width: 20%;
    margin-left: 60px;
  }


  /*  ------------------------------------------- TEMPLES PAGE ---------------------------------------------*/

  .h1Temples{
    font-size: 40px;
    text-align: center;
    text-indent: 60px;
  }

  .divJSON{
    display: grid;
    border-bottom: none;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    background-color: #c7c18be2;
    height: 540px;
  }

  .cards{
    margin-top: -450px;
  }
  

  .templeImage{
    width: 100%;
    margin-left: 40px;
    grid-column: 1/2;
    position: relative;
    top: 20px;
  }

  .templeImage:hover{
    transform: scale(1.2);
  }


  .name{
    font-size: 26px;
    position: relative;
    left: 380px;
    background-color: transparent;
    color: #422e0a;
    text-shadow: 2px 2px 20px rgb(84, 62, 22);
  }

  .phone{
    font-size:19px;
    grid-column: 2/2;
    position: relative;
    top: -16px;
    left: 26px;
  }

  .situation{
    font-size: 19px;
    grid-column: 2/2;
    text-align: center;
    position: relative;
    top: -300px;
    width: 250px;
    left: 90px;
  }

  .address{
    font-size: 19px;
    background-color: #422e0a;
    width: 170px;
    padding: 4%;
    height: 20px;
    top: -290px;
    margin-left: 110px;
  }

  .address:hover{
    background-color: aliceblue;
    color: #66551c;
    box-shadow: 0px 0px 10px rgb(107, 80, 21);
  }

  .services{
    font-size: 20px;
    grid-column: 2/2;
    color: #53430b;
    position: relative;
    margin-left: 7px;
    text-align: center;
    top: -320px;
  }

  .appointment{
    font-size: 19px;
    width: 190px;
    padding: 4%;
    height: 20px;
    top: -290px;
    margin-left: 109px;
  }

  .appointment:hover{
    background-color: aliceblue;
    color: #66551c;
    box-shadow: 0px 0px 10px rgb(107, 80, 21);
  }

  .footerTemples{
    margin-top: 70px;
  }

  /*  ------------------------------------------- RESERVATION PAGE ---------------------------------------------*/

  .divForms{
    position: relative;
    margin-left: 220px;
    margin-top: 100px;
  }

  form label.text{
    font-size: 22px;
  }
  
  form div.divRooms{
    font-size: 22px;
  }
  

  form input.reserveBtn{
    margin-left: 100px;
  }

  /*  --------------------------------------------- THANKS PAGE!! --------------------------------------*/

  .h1Thanks{
    font-size: 50px;
    margin-left: 300px;
  }


  .divThanks{
    background-color: rgba(255, 255, 255, 0.717);
    border-radius: 20px;
    margin-left: 80px;
    width: 600px;
  }

  .thanksParagraph{
    color: rgb(0, 0, 0);
    width: 600px;
    font-size: 23px;
    text-align: center;
    padding: 2%;
  }

  .confirmationIcon{
    width: 30%;
    margin-left: 270px;
  }

  /*  --------------------------------------------- SERVICES PAGE! --------------------------------------*/

  .servicesList{
    margin-bottom: -80px;
    background-color: #47440fac;
    height: 270px;
    margin-top: 40px;
  }

  .listBullet1{
    font-size: 22px;
    width: 300px;
    margin-left: 100px;
  }

  .bathroom{
    width: 20%;
    float: right;
    margin-top: -160px;
    margin-right: 150px;
    box-shadow: 0px 0px 20px white;
  }

  .servicesList2{
    margin-top: 130px;
    background-color: transparent;
    height: 270px;
  }

  .playroom{
    width: 24%;
    float: left;
    margin-top: -90px;
    margin-left: 120px;
  }

  .listBullet2{
    width: 300px;
    position: relative;
    color: rgb(5, 5, 5);
    top: 90px;
    left: 330px;
    font-size: 22px;
    text-align: center;
  }

  .servicesList3{
    margin-bottom: -80px;
    background-color: #47440fac;
    height: 270px;
    margin-top: 40px;
  }

  .listBullet3{
    width: 300px;
    position: relative;
    color: white;
    top: 90px;
    font-size: 22px;
    left: 100px;
    text-align: center;
  }

  .listBullet4{
    width: 300px;
    position: relative;
    color: rgb(5, 5, 5);
    top: 90px;
    left: 330px;
    font-size: 22px;
    text-align: center;
  }

  .servicesList4{
    margin-top: 130px;
    background-color: transparent;
    height: 270px;
  }

  .oficines{
    width: 24%;
    float: left;
    margin-top: -90px;
    margin-left: 120px;
  }

  .reception{
    width: 23%;
    float: right;
    margin-right: 150px;
    margin-top: -40px;
    box-shadow: 0px 0px 30px white;
  }

  .packagesWM{
    margin-top: 100px;
  }

  .specialPackage{
    background-color: #847751;
    color: white;
    width: 310px;
    margin-left: 10px;
    padding: 1%;
    font-size: 20px;
    margin-top: 50px;
  }

  .specialPackage2{
    background-color: #847751;
    color: white;
    position: absolute;
    width: 310px;
    margin-left: 380px;
    padding: 1.1%;
    font-size: 18px;
    margin-top: -480px;
  }

  .wedding{
    width: 37%;
    margin-left: 32px;
  }

  .missionaries{
    width: 37%;
    margin-left: 400px;
    position: relative;
    top: -420px;
    height: 410px;
  }
  
  .weddingButton{
    margin-left: 100px;
    padding: 4%;
  }

  .btnMissionaries{
    margin-top: -679px;
    margin-left: 470px;
    padding: 4%;
  }

  .btnMissionaries:hover{
    background-color: #483314e5;
  }

  .h2Amenities{
    background-color: #4f482d;
    width: 400px;
    text-align: center;
    color: white;
    margin-top: -350px;
    padding: 2%;
    margin-left: 160px;
  }

  .listAmenities{
    color: #472f0f;
  }

  .footerServices{
    margin-top: 50px;
  }

  /*  --------------------------------------------- WEDDING PAGE --------------------------------------*/


  .wedh1{
    background-color: #847751;
    color: white;
    padding: 2%;
    font-size: 26px;
    margin-left: 270px;
    margin-top: 70px;
    margin-bottom: -20px;
    width: 250px;
    border-radius: 20px;
    text-align: center;
  }

  .suitesTitles{
    margin-top: 80px;
    font-size: 26px;
    color: #47440f;
    border: solid;
    width: 180px;
    padding: 2%;
    border-color: #4f482d92;
    text-align: center;
  }


  .reserveWedding{
    text-decoration: none;
    font-size: 30px;
    padding: 2%;
    margin-left: 300px;
    color: #4f482d;
    background-color: rgb(180, 166, 120);
  }

  .suitesTitles{
    margin-left: 20px;
  }

  .suiteIMG{
    width: 90%;
    margin-left: 30px;
  }

  .divPics{
    display: block;
  }

  .wedding1{
    width: 50%;
  }

  .wedding2{
    width: 50%;
    position: relative;
    left: 378px;
  }

  .wedding3{
    width: 48.6%;
    position: absolute;
    left: 10px;
    margin-top: 3px;
  }
  
  .wedding4{
    width: 49%;
    position: relative;
    margin-left: 0px;
    top: -260px;
  }

  /*  --------------------------------------------- MISSIONARY PAGE --------------------------------------*/

  .wedh1{
    background-color: #847751;
    color: white;
    padding: 2%;
    font-size: 26px;
    margin-left: 170px;
    margin-top: 70px;
    margin-bottom: -20px;
    width: 340px;
    border-radius: 20px;
    text-align: center;
  }

  .mission1{
    width: 50%;
  }

  .mission2{
    width: 48%;
  }

  .mission3{
    width: 50%;
  }

  .mission4{
    width: 48%;
  }

  .pSuites{
    font-size: 24px;
  }

  .legendContact{
    padding: 2%;
    margin-left: 290px;
  }

  form fieldset.fieldsetContact{
    width: 40%;
    margin-left: 230px;
  }

  form .sendBtn{
    padding: 1%;
    margin-left: 305px;
    margin-bottom: 100px;
    width: 170px;
  }

  
  /*  --------------------------------------------- LIKE BUTTON  --------------------------------------*/

  .likeIcon{
    font-size: 20px;
    width: 30px;
  }

 .buttonTemple2, .buttonTemple3, .buttonTemple4{
    position: relative;
    left: 120px;
    top: -10px;
  }


  .pLikeButton{
    text-align: center;
    font-size: 20px;
    color: rgb(204, 69, 92);
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 25px;
  }

  .likesNumber2, .likesNumber3, .likesNumber4{
    color: rgb(204, 69, 92);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: absolute;
    left: 200px;
    margin-top: 100px;
  }

  /* button1 */

  .divLikeButton1{
    position: absolute;
    top: 290px;
    left: 50px;
  }

  .likesNumber1{
    margin-top: 0px;
  }

  /* button2 */

  .divLikeButton2{
    position: relative;
    top: 1030px;
    left: 50px;

  }

  /* button3 */

  .divLikeButton3{
    position: relative;
    top: 1460px;
    left: 50px;

  }

  /* button4 */

  .divLikeButton4{
    position: relative;
    top: 1900px;
    left: 50px;

  }
}